ldapPasswordReset-main:
    path:	/
    defaults:	{ _controller: 'Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction', path: /ldapPasswordReset/enterEmail, permanent: true }
    methods:    [GET]

ldapPasswordReset-enterEmail:
    path:	/enterEmail
    defaults:	{ _controller: 'SimpleSAML\Module\ldapPasswordReset\Controller\PasswordReset::enterEmail' }
    methods:    [GET, POST]

ldapPasswordReset-resetPassword:
    path:	/resetPassword
    defaults:	{ _controller: 'SimpleSAML\Module\ldapPasswordReset\Controller\PasswordReset::resetPassword' }
    methods:    [GET, POST]

ldapPasswordReset-validateMagicLink:
    path:	/validateMagicLink
    defaults:	{ _controller: 'SimpleSAML\Module\ldapPasswordReset\Controller\PasswordReset::validateMagicLink' }
    methods:    [GET]

ldapPasswordReset-invalidMagicLink:
    path:	/invalidMagicLink
    defaults:	{ _controller: 'SimpleSAML\Module\ldapPasswordReset\Controller\PasswordReset::invalidMagicLink' }
    methods:    [GET]
