      <div id="footer">
        <div class="wrap">
          <div class="logo-footer show-for-large">
            <div id="footer_logo">
              <img class="pure-img" src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAZCAYAAABKM8wfAAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVh
ZHlxyWU8AAAAP0lEQVRYR+3OsQ0AIBDDwMBkLMX80PwKLiL5GrdeOfelyJ7WcJjmMM1hmsM0h2kO
0xymOUxzmOYwzWFa2XDyAS20AebcQ4V4AAAAAElFTkSuQmCC" alt="Footer logo">
            </div>
          </div>
        </div>
      </div
