{% set pagetitle = 'Change your password'|trans %}

{% extends "@core/base.twig" %}

{% block content %}

    {%- if not isProduction %}
    <div class="message-box warning">
      {% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
    </div>
    {% endif -%}

    <div class="message-box success">
        {% trans %}Your password was successfully changed.{% endtrans %}
        <br />
        {%- if referer is defined %}
        {{ 'Please click <a href=\"%REFERER%\">here</a> to return to the login screen.'|trans({'%REFERER%': referer})|raw }}
        {% else %}
        {% trans %}Please return to the application your were trying to use and initiate a new authentication.{% endtrans %}
        {% endif -%}
    </div>

{% endblock %}
